@{      
        List<SelectListItem> filtro = new List<SelectListItem>() {
            new SelectListItem { Text = "Abiertos", Value = "Abiertos" },
            new SelectListItem { Text = "Cerrados", Value = "Cerrados"  },
            new SelectListItem { Text = "Ganadores", Value = "Ganadores" },
        };
}

<!DOCTYPE html>
<html>
<head>
    <title>Concursos</title>
    <meta charset="utf-8" />
    <!--<link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/actividades.css">-->
    <link rel="stylesheet" type="text/css" href="~/Utils/css/botonesCompartir.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/adminConcurso.css">
</head>
<body>

    <span class="titulo">Concursos</span>

    @using (Html.BeginForm("AdministrarConcursos", "Concurso", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-12 mr-5 text-center">
            @Html.DropDownList("opcionFiltro", filtro, "Todos")
        </div>
        <div class="col-12 mr-20 text-center">
            <input type="submit" class="btn btn-success mt-2" value="Elegir" />
        </div>
    }

    <div class="row d-flex flex-wrap align-items-center">
        @foreach (Planetario.Models.ConcursoModel concurso in ViewBag.concursos)
        {
            <div class="card-group col-lg-4 col-md-6 col-sm-12" id="concurso-group">
                <div class="card" id="card-concurso">
                    <div class="card-header card-title text-light " id="#concursoTitle">
                        @concurso.NombreConcurso
                    </div>
                    <div class="card-body" id="body-concurso">
                        <p class="card-text" id="concurso-text"><strong>Tema: </strong>@concurso.Tema</p>
                        <p class="card-text" id="concurso-text"><strong>Fecha: </strong>@concurso.Fecha</p>
                        <p class="card-text" id="concurso-text"><strong>Premio: </strong>@concurso.Premio</p>
                        @if (concurso.Abierto)
                        {
                            <p class="card-text" id="concurso-text"><strong>Estado: </strong>Abierto</p>
                        }
                        else
                        {
                            if (concurso.Ganador != "")
                            {
                                <p class="card-text" id="concurso-text"><strong>Ganador: </strong>@concurso.Ganador</p>
                            }
                            else
                            {
                                <p class="card-text" id="concurso-text"><strong>Estado: </strong>Cerrado</p>
                            }
                        }
                    <div class="row justify-content-between">
                        @if (concurso.Abierto)
                        {
                            <div class="col col-4">
                                @Html.ActionLink("Actualizar", "ActualizarConcurso", "Concurso", new { nombreDelConcurso = concurso.NombreConcurso.ToString() }, new { @class = "btn btn-success" })
                            </div>
                            <div class="col col-3">
                                @Html.ActionLink("Cerrar", "CerrarConcurso", "Concurso", new { nombreDelConcurso = concurso.NombreConcurso.ToString() }, new { @class = "btn btn-warning" })
                            </div>
                            <div class="col col-4">
                                @Html.ActionLink("Eliminar", "EliminarConcurso", "Concurso", new { nombreDelConcurso = concurso.NombreConcurso.ToString() }, new { @class = "btn btn-danger float-end" })
                            </div>
                        }
                        else if (concurso.Ganador == "")
                        {
                            <div class="col col-12 text-center">
                                @Html.ActionLink("Declarar ganador", "ListaParticipantes", "Concurso", new { nombreDelConcurso = concurso.NombreConcurso.ToString() }, new { @class = "btn btn-warning" })
                            </div>
                        }
                        else
                        {
                            <div class="col col-12 text-center">
                                @Html.ActionLink("Modificar ganador", "ListaParticipantes", "Concurso", new { nombreDelConcurso = concurso.NombreConcurso.ToString() }, new { @class = "btn btn-warning" })
                            </div>
                        }
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br /><br /><br />


</body>
</html>