@{
    List<SelectListItem> filtro = new List<SelectListItem>() {
        new SelectListItem { Text = "Abiertos", Value = "Abiertos" },
        new SelectListItem { Text = "Cerrados", Value = "Cerrados"  },
        new SelectListItem { Text = "Ganadores", Value = "Ganadores" },
        new SelectListItem { Text = "Mis concursos", Value = "Mis concursos" },
    };
}

<!DOCTYPE html>
<html>
<head>
    <title>Concursos</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Utils/css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/actividades.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/botonesCompartir.css">
    <link rel="stylesheet" type="text/css" href="~/Utils/css/adminConcurso.css">
</head>
<body>

    <span class="titulo">Lista de concursos</span>

    @using (Html.BeginForm("ListadoDeConcursos", "Concurso", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-12 mr-5 text-center">
            @Html.DropDownList("opcionFiltro", filtro, "Todos")
        </div>
        <div class="col-12 mr-20 text-center">
            <input type="submit" class="btn btn-success mt-2" value="Elegir" />
        </div>
    }

    <div class="row d-flex flex-wrap align-items-center">
        @foreach (Planetario.Models.ConcursoModel concurso in ViewBag.concursos)
        {
            <div class="card-group col-lg-4 col-md-6 col-sm-12 d-flex align-items-stretch" id="concurso-group">
                <div class="card" id="card-concurso">
                    <div class="card-header card-title text-light" id="concursoTitle">
                        @concurso.NombreConcurso
                    </div>
                    <div class="card-body" id="body-concurso">
                        <p class="card-text" id="concurso-text"><strong>Tema: </strong>@concurso.Tema</p>
                        <p class="card-text" id="concurso-text"><strong>Fecha: </strong>@concurso.Fecha</p>
                        <p class="card-text" id="concurso-text"><strong>Precio: </strong>@concurso.Premio</p>
                        @if (concurso.Abierto)
                        {
                            <p class="card-text" id="concurso-text"><strong>Estado: </strong>Abierto</p>
                        }
                        else
                        {
                            if (concurso.Ganador != "")
                            {
                                <p class="card-text" id="concurso-text"><strong>Ganador: </strong>@concurso.Ganador</p>
                            }
                            else
                            {
                            <p class="card-text" id="concurso-text"><strong>Estado: </strong>Cerrado</p>
                            }
                        }

                    </div>
                    <a class="hidden stretched-link border-0" href="@Url.Action("VerConcurso","Concurso", new { concurso = concurso.NombreConcurso.ToString() })"></a>
                </div>
            </div>
        }
    </div>
    <br /><br /><br />


</body>
</html>